body {
    background-color: rgb(75, 1, 177);
}
.selected {
    background-color: rgb(128, 128, 128);
}
.completed {
    text-decoration : line-through solid rgb(0, 0, 0);

}

button {
    display: inline-block;
}